<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_id</key>
	<string>942WWucHyddS23J3FZ8nsFoGyZS92REnLg4qzKhW</string>
	<key>app_id</key>
	<string>Z5ylGPqfhacAQSNB1I7SPz8dPUcsROQqrJzWL6k9</string>
</dict>
</plist>
